.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(to bottom, #f8f4e8, #e6d6a8);
  border: 2px solid #b7934a;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.cardImage {
  width: 97%;
  height: 100%;
  top: 10px;
  object-fit: cover;
  margin-top: 5px;
  margin-left: 5px;
}

.cardContent {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cardTitle {
  font-size: 1.5rem;
  color: #4a1c40;
  font-weight: bold;
  margin-bottom: -0.5rem;
  margin-top: -0.3rem;
}

.cardBody {
  font-size: 1rem;
  color: #3a2f2d;
  line-height: 1.4;
  flex-grow: 1;
  margin-bottom: -0.2rem;
}

.cardButton {
  background-color: #4a1c40;
  color: #f8f4e8;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Cormorant Garamond', serif;
  margin-top: 1rem;
  align-self: flex-start;
}

.cardButton:hover {
  background-color: #6a2c5a;
}