.navbar{
    position: sticky;
    top: 0;
    background-color:#f7f7f7;
    z-index: 1;
    position: relative;
    width:100%;
}
.navbar_logo {
  background-image: url("../../assets/HEADER-1.jpg");
  background-size: cover;              /* Makes the image cover the container */
  background-position: center;         
  background-repeat: no-repeat;
  height: 10.5rem;                        /* Default height for larger screens */
  width: 100%;                         
  display: grid;
  margin: 0;
  padding: 0;
  overflow: hidden;                    /* Ensures no overflow issues */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .navbar_logo {
      height: 6rem;                    /* Adjust height for smaller screens */
      background-size: contain;        /* Makes the image fully visible */
  }
}

.navbar_logo > a > img {
  position: absolute;
  top: 1.5rem;
  bottom: 0.5rem;          /* Adjusts vertical positioning */
  right: 1rem;        /* Adjusts horizontal positioning */
  cursor: pointer;
  height: auto;         /* Ensures height adjusts automatically */
  width: auto;          /* Ensures width adjusts automatically */
  max-height: 60%;      /* Limits maximum height to 80% of container */
  max-width: 20%;       /* Limits maximum width to 20% of container */
  object-fit: contain;  /* Ensures image retains its aspect ratio */
  border: 2px solid black; 
}
.navbar_links{
    padding: 0.5rem 1rem;
    background-color: navy;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.navbar_links > a {
  font-weight: bolder;
  text-decoration: none;
  color: white;
  border-right: 2px solid transparent; /* Add border */
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  transition: transform 0.2s ease, color 0.3s ease, background-color 0.3s ease;
}

.navbar_links a:hover {
  color: #ffffff;
  background-color: navy;
  transform: scale(1.1);
}


.navbar_links a:active {
  transform: scale(0.95); 
}


.navbar_links a.active {
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
  transform: scale(1.05); 
}
