/* GalleryPage.module.css */

.galleryPage {
    padding: 5px;
    margin-bottom: 130px;
    margin-top: 50px;
    margin-left: 40px;
    min-height: 100vh;
  }


  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
  }
  
  /* Add more styles as needed */
  